@use 'colors';


@mixin background{
    background-color: colors.$backgroundCol;
}


body{
    background-image: url('../Images/Background.jpg');
    background-size: cover;
    background-repeat: repeat;
    overflow-x: hidden;

    
#about{
    width: 100%;
}

}

#skills {
    max-width: 300px;
    max-height: 300px;
}

html{
    height: 200%;
}

.profile{
    border-radius: 10%;
    @include background;
}



